:host {
    box-sizing: border-box;
    height: 68px;
    background-color: #1e1e1e;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

h1 {
    color: white;
    margin: 0;
    cursor: pointer;
}

.list-page {
    height: 100%;
}

.list-page-item {
    color: white;
    text-align: center;
    height: 100%;
    display: flex;
    float: left;
    transition: all .2s ease-in-out;
    border-bottom: 1px solid transparent;
    align-items: center;
}

.list-page-item:hover:not(.active) {
    border-bottom: 1px solid gray;
    cursor: pointer;
}

.active {
    border-bottom: 1px solid white;
}

.list-page-item a {
    padding: 27px 24px;
}